*.Rhistory
Getting_and_Cleaning_Data/Assignment1/household_power_consumption.txt
Getting_and_Cleaning_Data/Assignment1/exdata-data-household_power_consumption.zip
Developing_Data_Products/project/DDP_project_deck/.cache/__packages
*.rdb